@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
:root {
    --bg: #006600;
    --btn-hover: #009000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--bg);
}
.container {
    display: column;
    width: 850px;
    gap: 70px;
    padding: 30px 15px;
    opacity: 0;
    background: white;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.container.show {
    opacity: 1;
    transition: opacity 0.4s 0.4s ease;
}
.hangman-box .hangman-img svg {
    user-select: none;
    max-width: 200px;
}
.hangman-box h1 {
    display: none;
    font-size: 1.45rem;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
}
.game-box .word-display {
    gap: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.word-display .letter {
    width: 28px;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 600;
    margin: 35px 0;
    text-transform: uppercase;
    border-bottom: 3px solid black;
}
.word-display .letter.guessed {
    margin: 0 0 25px;
    border-color: transparent;
}
.game-box h4 {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.game-box h4 b {
    font-weight: 600;
}
.game-box .guessed-text b {
    color: red;
}
.game-box .keyboard {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
}
:where(.game-modal, .keyboard) button {
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    text-transform: uppercase;
    background: var(--bg);
}
.keyboard button {
    padding: 7px;
    width: calc(100% / 9 - 5px);
}
.keyboard button[disabled] {
    pointer-events: none;
    opacity: 0.6;
}
:where(.game-modal, .keyboard) button:hover {
    background: var(--btn-hover);
}
.game-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    padding: 0 10px;
    transition: opacity 0.4s ease;
}
.game-modal.show {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.4s 0.4s ease;
}
.game-modal .content {
    padding: 30px;
    max-width: 420px;
    width: 100%;
    border-radius: 10px;
    background: white;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.game-modal .modal-img {
    margin-bottom: 20px;
}
.game-modal h4 {
    font-size: 1.45rem;
}
.game-modal p {
    font-size: 1.1rem;
    margin: 15px 0 30px;
    font-weight: 500;
}
.game-modal p b {
    color: var(--bg);
    font-weight: 600;
}
.game-modal button {
    padding: 10px 18px;
}

@media (min-width: 781px) {
    .container {
        flex-direction: flex;
        padding: 60px 40px;
        align-items: flex-end;
    }
    .hangman-box .hangman-img svg {
        max-width: 270px;
    }
    .hangman-box h1 {
        display: block;
    }
    .game-box h4 {
        font-size: 1.1rem;
    }
    .word-display .letter {
        margin: 40px 0;
        font-size: 2rem;
    }
    .word-display .letter.guessed {
        margin: 0 0 35px;
    }
    .game-modal h4 {
        font-size: 1.53rem;
    }
    .game-modal p {
        font-size: 1.15rem;
    }
    .game-modal button {
        padding: 12px 23px;
    }
}
